name: Build with Cmake and Run Examples

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Spack
      uses: spack/setup-spack@v2
      with:
        ref: v1.1.0      # Spack version (examples: develop, releases/v0.21)
        buildcache: true  # Configure oci://ghcr.io/spack/github-actions-buildcache
        color: true       # Force color output (SPACK_COLOR=always)
        path: ${{github.workspace}}/spack       # Where to clone Spack

    - name: Generate a code coverage report part1
      uses: threeal/gcovr-action@v1.1.0
      with:
        root: ${{github.workspace}}

    - name: Setup LCOV
      uses: hrishikesh-kadam/setup-lcov@v1

    - name: Install mpich
      run: sudo apt-get install mpich
    - name: Install libfabric
      run: sudo apt-get install libfabric-dev
    - name: Get Spack repo [required by mgis]
      run: |
        git clone https://github.com/rprat-pro/spack-repo-mfem-mgis.git
        spack repo add spack-repo-mfem-mgis
    - name: Install Packages
      run: |
        spack compiler find
        spack external find openmpi mpich libfabric
        spack install mfem+mpi+suite-sparse+mumps@4.8.0%gcc@12.4.0
        spack install tfel@master:~python~python_bindings%gcc@12.4.0
        spack install mgis@master:+c~fortran~python%gcc@12.4.0

    - name: Config MFEM-MGIS [coverage]
      shell: spack-sh {0}    
      run: |
        spack load mfem 
        spack load mgis
        cmake -B ${{github.workspace}}/coverage \
              -DCMAKE_CXX_FLAGS_COVERAGE="--coverage -g" \
              -DCMAKE_BUILD_TYPE=Coverage -DCMAKE_C_COMPILER=gcc-12 \
              -DCMAKE_CXX_COMPILER=g++-12 \
              -DMFEM_DIR=`spack location -i mfem` \
              -DHYPRE_DIR=`spack location -i hypre` \
              -DMFrontGenericInterface_DIR=`spack location -i mgis`/share/mgis/cmake \
              -DCMAKE_PREFIX_PATH=`spack location -i tfel`/share/tfel/cmake        

    - name: Build MFEM-MGIS [coverage]
      run: cmake --build ${{github.workspace}}/coverage --config Coverage
    - name: Run examples 
      shell: spack-sh {0}    
      working-directory: ${{github.workspace}}/coverage
      run: | 
        spack load mfem
        spack load tfel
        make check
    - name: clone MFEM-MGIS-EXAMPLES
      run: git clone https://github.com/latug0/mfem-mgis-examples.git
    - name: CMake && Compile MFEM-MGIS-EXAMPLES
      run: |
        spack load mfem 
        spack load mgis
        cmake -S ${{github.workspace}}/mfem-mgis-examples\
              -B ${{github.workspace}}/build-mfem-mgis-examples \
              -DCMAKE_CXX_FLAGS_COVERAGE="--coverage -g" \
              -DCMAKE_BUILD_TYPE=Coverage -DCMAKE_C_COMPILER=gcc-12 \
              -DCMAKE_CXX_COMPILER=g++-12 \
              -DMFEM_DIR=`spack location -i mfem` \
              -DHYPRE_DIR=`spack location -i hypre` \
              -DMFrontGenericInterface_DIR=`spack location -i mgis`/share/mgis/cmake \
              -DCMAKE_PREFIX_PATH=`spack location -i tfel`/share/tfel/cmake
        cmake ${{github.workspace}}/build-mfem-mgis-examples --config Coverage
    - name: Run MFEM-MGIS-EXAMPLES
      working-directory: ${{github.workspace}}/build-mfem-mgis-examples
      run: |
        ctest --rerun-failed --output-on-failure
        
  #  - name: Generate a code coverage report part2
  #    working-directory: ${{github.workspace}}/
  #    run: |
  #      gcovr --exclude='build/*' --exclude='tests/*' --exclude='spack/*' --exclude='coverage/*' --html-details coverage.html

  #  - name: Archive code coverage results
   #   uses: actions/upload-artifact@v4
   #   with:
   #     name: code-coverage-report
   #     path: ${{github.workspace}}/coverage.html
